{{#is "post"}}
    <aside class="gh-article-sidebar">
        <div class="gh-article-meta">
            <div class="gh-article-meta-inner">
                <time class="gh-article-date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
            </div>
        </div>
    </aside>
{{/is}}