{{!< default}}

<main class="gh-main gh-outer">
    <div class="gh-inner">
        <section class="gh-topic gh-topic-grid">
            <div class="gh-topic-content">

                <article class="gh-card large">
                    <div class="gh-card-wrapper">
                        <header class="gh-card-header"><h3 class="gh-card-title">Informationskontoret</h3></header>
                        <div class="gh-card-excerpt">Introduktionstext om informationskontoret eller liknande. is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.</div>
                    </div>
                </article>

                {{#get "posts" filter="tag:framsidan" limit="7"}}
                    {{#foreach posts}}
                        {{> "loop-grid"}}
                    {{/foreach}}
                {{/get}}
            </div>

            <footer class="gh-topic-footer">
                {{#match pagination.pages ">" 1}}
                    <a class="gh-topic-link" href="{{@site.url}}/page/2">Visa mer {{> "icons/arrow"}}</a>
                {{/match}}
            </footer>
        </section>
    </div>
</main>