{{!< default}}

<main class="gh-main gh-outer">
    <div class="gh-inner">
        <div class="gh-topic gh-topic-grid">
            <div class="gh-topic-content">

                <article class="gh-card">
                        <div class="gh-card-wrapper">
                            <header class="gh-card-header">
                                <h3 class="gh-card-title">Baha'iernas situation i Iran, Yemen och Qatar</h3>
                            </header>
                            <div class="gh-card-excerpt">Introduktionstext om mellanöstern eller liknande. is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</div>
                        </div>
                </article>

 <article class="gh-card post">
    <a class="gh-card-link" href="/tag/iran/">
            <figure class="gh-card-image">
                <img sizes="(max-width: 1200px) 100vw, 1200px" src="https://www.bahai.se/images/stop/3.jpg" alt="Iran">
            </figure>

        <div class="gh-card-wrapper">
            <header class="gh-card-header">
                <h3 class="gh-card-title">Iran</h3>
            </header>
            <div style="font-size: 1.5rem;">s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </div>
        </div>
    </a>
</article>

 <article class="gh-card post">
    <a class="gh-card-link" href="/tag/yemen/">
            <figure class="gh-card-image">
                <img sizes="(max-width: 1200px) 100vw, 1200px" src="https://informationskontoret-bahai-se-production-web.azurewebsites.net/content/images/size/w2000/2022/09/hatred.png" alt="Yemen">
            </figure>

        <div class="gh-card-wrapper">
            <header class="gh-card-header">
                <h3 class="gh-card-title">Yemen</h3>
            </header>
            <div style="font-size: 1.5rem;">s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </div>
        </div>
    </a>
</article>

 <article class="gh-card post">
    <a class="gh-card-link" href="/tag/qatar/">
            <figure class="gh-card-image">
                <img sizes="(max-width: 1200px) 100vw, 1200px" src="https://informationskontoret-bahai-se-production-web.azurewebsites.net/content/images/size/w2000/2022/09/yaran.jpeg" alt="Qatar">
            </figure>

        <div class="gh-card-wrapper">
            <header class="gh-card-header">
                <h3 class="gh-card-title">Qatar</h3>
            </header>
            <div style="font-size: 1.5rem;">s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </div>
        </div>
    </a>
</article>

    </div>
</main>